@font-face {
  font-family: 'runicFont';
  src: url('fonts/runic.ttf');
  font-size: 112%;
  letter-spacing: 3px;
  word-spacing: 3px;
  transform: scaleX(-1);
}

* {
  font-family: runicFont;
}

body {
  font-family: runicFont;
  font-size: 112%;
  letter-spacing: 3px;
  word-spacing: 3px;
  transform: scaleX(-1);
}
